aiml==0.9.1
chardet==2.3.0
click==6.7
cycler==0.10.0
dnspython==1.15.0
Flask==1.0.2
Flask-PyMongo==2.1.0
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
lxml==3.5.0
MarkupSafe==1.0
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
pymongo==3.7.1
pyparsing==2.2.0
python-aiml==0.9.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.9.1
six==1.10.0
urllib3==1.13.1
